@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9e96df;
  height: 100vh;
}

.ToDoList {
  display: flex;
  flex-direction: column;
  background: #162740;
  padding: 0 75px 10px 30px;
  border: transparent;
}

.ToDoList .title {
  padding: 3px 6px;
  color: white;
  background: #264456;
}

.ToDoList .label {
  display: flex;
  align-items: center;
  margin: 40px 0;
  font-size: 24px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  color: #f1faee;
}

.ToDoList .label input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
